<!-- Validation failure messages -->
<% if @coach_invitation.errors.any? %>
  <% @coach_invitation.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit coach invitation #<%= @coach_invitation.id %>
</h1>

<hr>

<!-- Form coach_invitation start -->
<form action="/update_coach_invitation/<%= @coach_invitation.id %>" method="post">
<!-- Form coach_invitation end -->

  <!-- Label and input for coach_id start -->
  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <!-- Input for coach_id start -->
    <%= select_tag(:coach_id, options_from_collection_for_select(User.all, :id, :email, @coach_invitation.coach_id), :class => "form-control") %>
    <!-- Input for coach_id end -->
  </div>
  <!-- Label and input for coach_id end -->

  <!-- Label and input for plan_id start -->
  <div class="form-group">
    <label for="plan_id">
      Plan
    </label>

    <!-- Input for plan_id start -->
    <input type="text" id="plan_id" name="plan_id" class="form-control" value="<%= @coach_invitation.plan_id %>">
    <!-- Input for plan_id end -->
  </div>
  <!-- Label and input for plan_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update coach invitation
  </button>
</form>

<hr>

<a href="/coach_invitations">
  Go back
</a>
