<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All coach invitations
    </h1>

    <a href="/coach_invitations/new" class="btn btn-block btn-outline-secondary">
      Add a new coach invitation
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Coach
        </th>

        <th>
          Plan
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @coach_invitations.each do |coach_invitation| %>
      <tr>
        <!-- Display coach_invitation.id start -->
        <td>
          <%= coach_invitation.id %>
        </td>
        <!-- Display coach_invitation.id end -->

        <!-- Display coach_invitation.coach_id start -->
        <td>
          <%= coach_invitation.coach.email %>
        </td>
        <!-- Display coach_invitation.coach_id end -->

        <!-- Display coach_invitation.plan_id start -->
        <td>
          <%= coach_invitation.plan.description %>
        </td>
        <!-- Display coach_invitation.plan_id end -->

        <!-- Display coach_invitation.created_at start -->
        <td>
          <%= time_ago_in_words(coach_invitation.created_at) %> ago
        </td>
        <!-- Display coach_invitation.created_at end -->

        <!-- Display coach_invitation.updated_at start -->
        <td>
          <%= time_ago_in_words(coach_invitation.updated_at) %> ago
        </td>
        <!-- Display coach_invitation.updated_at end -->

        <td>
          <a href="/coach_invitations/<%= coach_invitation.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
