<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All coach invitations
    </h1>

    <a href="/coach_invitations/new" class="btn btn-block btn-outline-secondary">
      Add a new coach invitation
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "coach_invitation_templates/coach_invitations_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Coach
        </th>

        <th>
          Plan
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @coach_invitations.each do |coach_invitation| %>
      <tr>
        <td>
          <%= coach_invitation.id %>
        </td>

        <td>
          <% if coach_invitation.coach.present? %>
            <a href="/users/<%= coach_invitation.coach.id %>">
              <%= coach_invitation.coach.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if coach_invitation.plan.present? %>
            <a href="/plans/<%= coach_invitation.plan.id %>">
              <%= coach_invitation.plan.description %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(coach_invitation.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(coach_invitation.updated_at) %> ago
        </td>

        <td>
          <a href="/coach_invitations/<%= coach_invitation.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @coach_invitations, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
