<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Coach invitation #<%= @coach_invitation.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/coach_invitations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/coach_invitations/<%= @coach_invitation.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit coach invitation
        </a>
      </div>

      <div class="col">
        <a href="/delete_coach_invitation/<%= @coach_invitation.id %>" class="btn btn-block btn-outline-secondary">
          Delete coach invitation
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Coach
      </dt>
      <dd>
        <% if @coach_invitation.coach.present? %>
          <a href="/users/<%= @coach_invitation.coach_id %>">
            <%= @coach_invitation.coach.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Plan
      </dt>
      <dd>
        <% if @coach_invitation.plan.present? %>
          <a href="/plans/<%= @coach_invitation.plan_id %>">
            <%= @coach_invitation.plan.description %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@coach_invitation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@coach_invitation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

