<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All plan comments
    </h1>

    <a href="/plan_comments/new" class="btn btn-block btn-outline-secondary">
      Add a new plan comment
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Comment
        </th>

        <th>
          Author
        </th>

        <th>
          Plan
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @plan_comments.each do |plan_comment| %>
      <tr>
        <!-- Display plan_comment.id start -->
        <td>
          <%= plan_comment.id %>
        </td>
        <!-- Display plan_comment.id end -->

        <!-- Display plan_comment.comment start -->
        <td>
          <%= plan_comment.comment %>
        </td>
        <!-- Display plan_comment.comment end -->

        <!-- Display plan_comment.author_id start -->
        <td>
          <% if plan_comment.author.present? %>
            <a href="/users/<%= plan_comment.author.id %>">
              <%= plan_comment.author.email %>
            </a>
          <% end %>
        </td>
        <!-- Display plan_comment.author_id end -->

        <!-- Display plan_comment.plan_id start -->
        <td>
          <% if plan_comment.plan.present? %>
            <a href="/plans/<%= plan_comment.plan.id %>">
              <%= plan_comment.plan.description %>
            </a>
          <% end %>
        </td>
        <!-- Display plan_comment.plan_id end -->

        <!-- Display plan_comment.created_at start -->
        <td>
          <%= time_ago_in_words(plan_comment.created_at) %> ago
        </td>
        <!-- Display plan_comment.created_at end -->

        <!-- Display plan_comment.updated_at start -->
        <td>
          <%= time_ago_in_words(plan_comment.updated_at) %> ago
        </td>
        <!-- Display plan_comment.updated_at end -->

        <td>
          <a href="/plan_comments/<%= plan_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @plan_comments, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
