<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Plan comment #<%= @plan_comment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/plan_comments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link plan_comment start -->
      <div class="col">
        <a href="/plan_comments/<%= @plan_comment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit plan comment
        </a>
      </div>
      <!-- Edit link plan_comment end -->

      <!-- Delete link plan_comment start -->
      <div class="col">
        <a href="/delete_plan_comment/<%= @plan_comment.id %>" class="btn btn-block btn-outline-secondary">
          Delete plan comment
        </a>
      </div>
      <!-- Delete link plan_comment end -->
    </div>

    <dl>
      <dt>
        Comment
      </dt>
      <!-- Display comment start -->
      <dd>
        <%= @plan_comment.comment %>
      </dd>
      <!-- Display comment end -->

      <dt>
        Author
      </dt>
      <!-- Display author_id start -->
      <dd>
        <% if @plan_comment.author.present? %>
          <a href="/users/<%= @plan_comment.author_id %>">
            <%= @plan_comment.author.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display author_id end -->

      <dt>
        Plan
      </dt>
      <!-- Display plan_id start -->
      <dd>
        <% if @plan_comment.plan.present? %>
          <a href="/plans/<%= @plan_comment.plan_id %>">
            <%= @plan_comment.plan.description %>
          </a>
        <% end %>
      </dd>
      <!-- Display plan_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@plan_comment.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@plan_comment.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
