<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Goal comment #<%= @goal_comment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/goal_comments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/goal_comments/<%= @goal_comment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit goal comment
        </a>
      </div>

      <div class="col">
        <a href="/delete_goal_comment/<%= @goal_comment.id %>" class="btn btn-block btn-outline-secondary">
          Delete goal comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Comment
      </dt>
      <dd>
        <%= @goal_comment.comment %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <% if @goal_comment.author.present? %>
          <a href="/users/<%= @goal_comment.author_id %>">
            <%= @goal_comment.author.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Goal
      </dt>
      <dd>
        <% if @goal_comment.goal.present? %>
          <a href="/goals/<%= @goal_comment.goal_id %>">
            <%= @goal_comment.goal.description %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@goal_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@goal_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

