<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Plan #<%= @plan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/plans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link plan start -->
      <div class="col">
        <% if current_user == @plan.owner %>
          <a href="/plans/<%= @plan.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit plan
          </a>
        <% end %>
      </div>
      <!-- Edit link plan end -->

      <!-- Delete link plan start -->
      <div class="col">
        <% if current_user == @plan.owner %>
          <a href="/delete_plan/<%= @plan.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete plan
          </a>
        <% end %>
      </div>
      <!-- Delete link plan end -->
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @plan.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Status
      </dt>
      <!-- Display status start -->
      <dd>
        <%= @plan.status %>
      </dd>
      <!-- Display status end -->

      <dt>
        Owner
      </dt>
      <!-- Display owner_id start -->
      <dd>
        <%= @plan.owner_id %>
      </dd>
      <!-- Display owner_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@plan.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@plan.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "plan_templates/plan_goals" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "plan_templates/plan_coaches" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "plan_templates/plan_plan_comments" %>
  </div>
</div>
<!-- Show Page Customization end -->
