<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Plan #<%= @plan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/plans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @plan.owner %>
          <a href="/plans/<%= @plan.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit plan
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @plan.owner %>
          <a href="/delete_plan/<%= @plan.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete plan
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @plan.description %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @plan.status %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <% if @plan.owner.present? %>
          <a href="/users/<%= @plan.owner_id %>">
            <%= @plan.owner.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@plan.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@plan.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "plan_templates/plan_goals" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "plan_templates/plan_coaches" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "plan_templates/plan_plan_comments" %>
  </div>
</div>
